# env & secrets
.env
*.db
data.db-shm
data.db-wal
backups/

migrate.py

# __pycache__ and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Pycharm related
.idea/
*.iml

# VSCode
.vscode/

# Logs
*.log

# Byte-compiled / cache
*.egg-info/
.cache/

#codex
.agents/